@import url('https://fonts.googleapis.com/css?family=Spartan:400,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* here comes the css from solarized */
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

/* mixin be like a function */
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}

/* light is default mode, so pair with general html definition */
html, .dark  {
  @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
}

.light {
  @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  
  font-family: "Spartan";
  font-size: 2rem;
  font-weight: extra-bold;

  grid-template-rows: 3fr 1fr 1fr 3fr;
  
  .text {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 100;
  }

  /* Put the sentences in the middle */
  p {
    display: flex;
  }
  p:nth-child(1) {
    grid-row: 2 / 3;
    /* fix name not respecting leading space character */
  }
  p:nth-child(2) {
    grid-row: 3 / 4;
  }

  button {
    margin-bottom: 10px;
    background-color: $base03;
    border: solid $magenta 1px;
    border-radius: 1px;
    font-size: 18px;
    font-weight: 400;
    color: $magenta;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: end;

    i {
      color: $magenta;
      font-size: 33px;
    }
    
  }

  button:focus {
    outline: none;
  }

  margin-bottom: 10px;
}

#down-arrow {
  color: $magenta;
  font-size: 60px;
  animation-duration: 1.8s;
}

.accent {
  color: $magenta;
}

ion-icon {
  color: $base01;

}
